%estiloDeListas{
    list-style: none;
    text-decoration: none;
}

%fuente{
    color: black;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

%margins{
    margin-top: 80px;
    margin-bottom: 100px;
}